.our_service .single_offer_img img {
    width: 100%;
  }
  
  /* line 8, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text {
    background-color: #fcf7f7;
    height: 100% !important;
  }
  
  /* line 17, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text span {
    font-size: 60px !important;
    margin-bottom: 27px;
    display: inline-block;
  }
  
  @media (max-width: 991px) {
    /* line 17, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
    .our_service .single_offer_text span {
      margin-bottom: 10px;
    }
  }
  
  /* line 28, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text h4 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
  
  @media (max-width: 991px) {
    /* line 28, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
    .our_service .single_offer_text h4 {
      margin-bottom: 10px;
    }
  }
  
  /* line 40, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text p {
    margin-bottom: 40px;
  }
  
  /* line 43, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text .btn_1 {
    color: #182028;
  }
  
  /* line 45, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text .btn_1:after {
    background-color: #182028;
  }
  
  /* line 49, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text .btn_1:before {
    background-color: #182028;
  }
  
  /* line 53, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text .btn_1:hover:after {
    background-color: #ff4800;
  }
  
  /* line 57, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .single_offer_text .btn_1:hover:before {
    background-color: #ff4800;
  }
  
  /* line 63, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .wedding {
    margin-bottom: 30px;
    padding: 56px 30px 65px;
  }
  
  @media (max-width: 991px) {
    /* line 63, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
    .our_service .wedding {
      padding: 25px 15px 30px;
    }
  }
  
  /* line 73, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
  .our_service .nature {
    margin-top: 30px;
    padding: 43px 109px 60px;
  }
  
  @media (max-width: 991px) {
    /* line 73, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
    .our_service .nature {
      padding: 25px 15px 30px;
    }
  }
  
  @media (max-width: 991px) {
    /* line 84, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_services.scss */
    .our_service .single_offer_img {
      margin-bottom: 30px;
    }
  }

  .section_tittle {
    margin-bottom: 80px;
  }
  
  @media (max-width: 991px) {
    /* line 143, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
    .section_tittle {
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 143, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
    .section_tittle {
      margin-bottom: 40px;
    }
  }
  
  /* line 151, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
  .section_tittle h2 {
    font-size: 60px;
    color: #dddfdf;
    line-height: 54px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
  }
  
  @media (max-width: 991px) {
    /* line 151, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
    .section_tittle h2 {
      font-size: 30px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 151, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
    .section_tittle h2 {
      font-size: 45px;
    }
  }
  
  /* line 166, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
  .section_tittle p {
    color: #1e2528;
    text-transform: capitalize;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  @media (max-width: 991px) {
    /* line 166, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
    .section_tittle p {
      margin-bottom: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 166, ../../01 cl html template/187 Shotgear Photography/187 Shotgear Photography Html/sass/_common.scss */
    .section_tittle p {
      margin-bottom: 10px;
    }
  }