

.hero-overly
{
position:relative;
z-index:0

}

.hero-overly::before
{
position:absolute;
content:"";
background-color:rgba(0,0,0,0.1);
width:100%;
height:100%;
left:0;
top:0;
bottom:0;
right:0;
z-index:1;
background-repeat:no-repeat
}

.hero-cap
{
position:relative;
z-index:1
}

.slider-area2 .hero-cap h2
{
color:#fff;
font-size:50px;
font-weight:700;
text-transform:capitalize;
font-family: sans-serif;

}

.slider-area2{
background-image:url(slike/homeHero_1.jpg);
background-repeat:no-repeat;background-size:cover;

}

.slider-height2{
height:500px;background-size:cover
}



/* line 1075, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.section-tittle h2 {
  font-size: 58px;
  display: block;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 21px;
}



/* line 1092, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.section-tittle p {
  color: #646D77;
  font-size: 16px;
}


/* line 1110, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.small-section-tittle span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #071112;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 0.05em;
}


/* line 1124, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.small-section-tittle h4 {
  color: #28395a;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.pricing-card-area .single-card {
  padding: 40px 0px;
  border: 1px solid #DBDBDB;
  overflow: hidden !important;
  position: relative;
}

/* line 9, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-top img {
  margin-bottom: 30px;
}

/* line 12, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-top p {
  color: #838a9b;
  font-size: 12px;
  margin-bottom: 4px;
}

/* line 17, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-top h4 {
  color: #072366;
  font-size: 25px;
  font-weight: 800;
  padding-right: 3px;
  line-height: 1.3;
}

/* line 26, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-mid {
  margin-bottom: 21px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
}

/* line 30, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-mid h4 {
  color: #071112;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-right: 3px;
}

/* line 36, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-mid h4 span {
  color: #838a9b;
  font-size: 12px;
}

/* line 42, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-bottom {
  padding: 0 25px;
}

/* line 45, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-bottom ul li {
  color: #717081;
  font-weight: 300;
  margin-bottom: 23px;
  font-size: 16px;
}

/* line 50, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card .card-bottom ul li:last-child {
  margin-bottom: 62px;
}

/* line 75, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_pricing.scss */
.pricing-card-area .single-card:hover .card-bottom .border-btn {
  transform: scaleY(1);
  border: 1px solid transparent;
  color: #fff !important;
  background: #071112;
}
.border-btn {
  color: #071112;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  text-transform: normal;
  padding: 12px 35px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  margin: 0;
  border: 1px solid #DBDBDB;
}

/* line 472, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.border-btn::before {
  border: 1px solid transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #071112;
  z-index: -1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
  border-radius: 0;
}

/* line 490, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.border-btn i {
  padding-right: 11px;
}

/* line 493, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.border-btn.border-btn2 {
  color: #fff !important;
  background: #071112;
}

/* line 499, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.border-btn:hover::before {
  transform: scaleY(1);
  border: 1px solid transparent;
}

/* line 503, C:/Users/HP/Desktop/Augst-HTML/297.Photography/Agriculture_Template/assets/scss/_common.scss */
.border-btn:hover {
  color: #fff !important;
}


.stiker {
  position: absolute;
  top: 44px;
  left: -50px;
  background: #3B2D82;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 51px;
  border-radius: 0;
  text-transform: capitalize;
  transform: rotate(-45deg);
  letter-spacing: 2px;
}