.container {
    padding: 80px 120px;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .carousel-caption h3 {
    color: #fff !important;
  }

  .caption h3 {
    color: rgb(54, 54, 54) !important;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

  .row > .column {
    padding: 0 8px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
  }
  

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 17px;

    }
  
  .services-section {
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .services-section.services-normal .container {
    margin-top: 0;
  }
  
  .services-section .container {
    position: relative;
    margin-top: -70px;
    z-index: 99;
  }
  
  .services-item {
    text-align: center;
    padding: 10px 10px 18px 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.5);
    box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.5);
    margin-bottom: 30px;
  }
  
  .services-item img {
    margin-bottom: 28px;
    width: 100%;
  }
  
  .services-item h3 {
    color: #191039;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  
  .button {
    display: inline-block;
    background: #f2ff7a;
    color: rgb(94, 94, 94);
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }
  
  .center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.Timestamp{
  text-align: center;
}
